# -------------------------------------
# Radar server main configuration file.
# -------------------------------------

# If you're using Radar's defaults values for all options then you
# only need to specify the Radar server's listen address.
listen:
    address: {:}
    port: {:}

run as:
    user: {:}
    group: {:}

polling time: {:}
log file: {:}
pid file: {:}
checks: {:}
contacts: {:}
monitors: {:}
plugins: {:}
