# -------------------------------------
# Radar client main configuration file.
# -------------------------------------

# If you're using Radar's defaults values for all options then you
# only need to specify the Radar server's address to connect to.
connect:
    to: {:}
    port: {:}

run as:
    user: {:}
    group: {:}

enforce ownership: {:}
reconnect: {:}
log file: {:}
pid file: {:}
checks: {:}
