[Unit]
Description=Radar server

[Service]
EnvironmentFile=/etc/default/radar-server
PIDFile=$RADAR_SERVER_PIDFILE
ExecStart=/usr/local/bin/radar-server.py $RADAR_SERVER_OPTS
ExecStopPost=/bin/rm $RADAR_SERVER_PIDFILE

[Install]
WantedBy=multi-user.target
